.Navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color:#333532; 
    /* background-color:wh(51, 53, 50, 0.5); */

    ;
}
.logo{
    padding: 0;
    justify-self: flex-start;
    margin-right: 20px;
}
.Navbar img{
    width: 5%;
    height: 10%;
    
    
}
.Nav-heading{
    color: #ffffff;
    margin-right: auto;
    margin-top: 30px;
    padding: 10px;
}